# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual Environments
venv/
.venv/
env/

# IDEs
.vscode/
.idea/

# Environment variables (Sensitive)
.env

# Distribution / packaging
dist/
build/
*.egg-info/

*.swp
